 .u-section-1 {
  background-image: url("images/Capturadetela2026-02-12192524.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 485px;
}

.u-section-1 .u-text-1 {
  font-family: MuseoModerno;
  width: 737px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 47px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: MuseoModerno;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 737px;
  margin: 22px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: MuseoModerno;
  background-image: none;
  margin: 22px auto 45px;
  padding: 10px 389px 10px 387px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}